@media (width >1100px) {

  .header__burger,
  .menu__burger-title {
    display: none;
  }
}

.menu__burger-title {
  margin-bottom: 15px;
}

.button__cross {
  position: relative;
}



.button__cross {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 5;
  transform: translatex(-50%);


}