body {
    margin: 0;
    background-color: rgb(112, 112, 112);
}

.span {
    background-color: rgb(216, 188, 188);
}

.block {
    background-color: brown;
    width: 100px;
    height: 100px;
}

.block-2 {
    width: 300px;
    background-color: rgb(164, 89, 234);
}

span {
    background-color: rgb(91, 16, 161);
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}