body {
    background-color: rgb(179, 179, 179);
}


/* ------------------------------------------------------------------------ */

table {
    border-collapse: collapse;
    width: 5%;
    border: 2px solid #000;
}

th,
td {
    border: 1px solid #999;
    padding: 5px;
    text-align: center;
    font-size: 50px;
    min-width: 30px;
}

th {
    background-color: #f2f2f2;
}

.weekend {
    color: red;
}

.sb {
    color: rgb(255, 0, 0);
}