@media (width >=1116px) {
  .burger {
    display: none;
  }
}

@media (width <=1115px) {
  .burger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--layer-3);
  }
}

.burger__icon-menu,
.burger--open .burger__icon-cross {
  display: block;
}

.burger__icon-cross,
.burger--open .burger__icon-menu {
  display: none;
}

/* анимайия крестика  */
.burger__icon-cross {
  opacity: 0;
  transform: rotate(0deg);
}

.burger--open .burger__icon-cross {
  opacity: 1;
  animation: cross-spin 1.2s ease-out forwards;
}

@keyframes cross-spin {
  0% {
    transform: rotate(-720deg);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

/* анимайия крестика // */