* {
    box-sizing: border-box;
}

body {
    min-width: 375px;
    margin: 0;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
}

.header {
    background-color: #f00;
    min-height: 100px;
}

.aside {
    background-color: #e2e20d;
}

.main {
    background-color: #31bb0a;
    padding-top: 30px;
    padding-bottom: 30px;
}

.article {
    background-color: #de6e05;
    min-height: 200px;
}

.footer {
    background-color: #0b2fe2;
    min-height: 250px;
}


/* ----------------------------------------------------------------------- */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header" "aside main main" "footer footer footer";
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.header {}

.aside {}

.main {}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


/* 1200px до 992px */


/* 992px до 768px */


/* 768px до 576px */


/* 576px до  375px */


/* 375px до 320px */


/* @media(width<=1440px) {
    .hero__img img {
        width: 50%;
    }
} */

@media(width<=1200px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header header header" "aside aside main" "footer footer footer";
    }
}

@media(width<=768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }
}