body {
    min-width: 375px;
    margin: 0;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
}

.header {
    background-color: rgb(255, 0, 0);
    min-height: 100px;
}

.aside {
    background-color: #e2e20d;
}

.main {
    background-color: #31bb0a;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 400px;
}

.article {
    background-color: #de6e05;
    min-height: 200px;
}

.footer {
    background-color: #0b2fe2;
    min-height: 250px;
}


/* ----------------------------------------------------------------------- */

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper>header:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.wrapper>aside:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.wrapper>main:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 4;
}

.wrapper>footer:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.header {}

.aside {}

.main {}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.article {}

.footer {}