body {
    background-color: rgb(222, 222, 222);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}


/* --------------------------------------------------------------------- */

.header {}

.header__top {}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 60px;
}

.logo {}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0px;
}

.header__nav-link {
    font-weight: 700;
    line-height: 1.6;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.button {
    white-space: nowrap;
    letter-spacing: 0.5px;
    line-height: 52px;
    font-weight: 700;
    padding: 0 40px;
    color: #fff;
    border-radius: 4px;
    background-color: rgb(237, 113, 25);
}

.header__user-nav {
    position: relative;
    padding-left: 28px;
}

.header__user-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("/imeges/icon/Profile.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
}

.header__body {}