body {
    font-family: Oswald;
    /* background-color: aquamarine; */
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}


/* -------------------------------------------------------------------------- */

.header {}

.header__top {}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: solid rgba(211, 203, 217, 1);
    gap: 10px;
}

.header__logo {}

.logo {
    padding: 30px 0px;
}

.header__img {}

.header__phone {
    padding: 30px 0px;
    text-align: right;
}

.header__text {
    color: #858e8a;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 4%;
    margin-bottom: 8px;
    /* text-align: left; */
}

.header__link {
    color: #2c332f;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    /* text-align: right; */
    transition: color 0.2s;
}

.header__link:hover {
    color: #3596ED;
}


/* ---------------------------------------header__body------------------- */


/* -----------------footer---------------------------- */

.footer {
    background: linear-gradient(90.00deg, rgba(73, 169, 255, 0.2), rgba(252, 124, 217, 0.2) 100%);
    margin-top: auto;
}

.footer__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    margin: 60px 0px 40px 0px;
}

.footer-img {}

.footer__wrapp-nav {
    display: flex;
}

.footer-nav {
    color: #535755;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 auto;
    max-width: 730px;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    margin-bottom: 80px;
}

.footer-lest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.footer-item {
    align-items: center;
    transition: color 0.2s;
}

.footer-item:hover {
    color: #3596ED;
}

.footer__title {
    display: flex;
    justify-content: center;
    color: #858e8a;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 4%;
    padding: 40px;
}

.footer-text {}