.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

.conteiner {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}


/* ---------------------------------------------------------- */

.header {
    padding-top: 15px;
    margin-bottom: 80px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.article-title {
    max-width: 596px;
    margin-bottom: 40px;
    font-family: Oswald;
    color: #2c332f;
    font-size: 48px;
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
}

.article-title-large {
    font-size: 48px;
}

.article-title-medium {
    font-size: 36px;
}

.header__nav-list {}

.header__link {
    margin-bottom: 8px;
    text-align: right;
}

.article-text {
    margin-bottom: 20px;
    color: #535755;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

.article-mb-1 {
    margin-bottom: 80px;
}

.article-mb-2 {
    margin-bottom: 40px;
}

.article-decor-wrapper {
    position: relative;
}

.article-decor-wrapper::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: url(../imeges/img/декор\ 2.svg) no-repeat;
    width: 528px;
    height: 48px;
}

.article-decor-wrapper-1::before {
    left: -350px;
    top: 100px;
}

.article-decor-wrapper-2::before {
    right: -350px;
    bottom: 136px;
}

.article-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translatey(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #3596ED;
    border-radius: 50%;
    cursor: pointer;
}

.article-img {
    max-width: 1220px;
    height: 512px;
}

.article-item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}


/* margin-left: 30px;
    margin-bottom: 12px;
    position: relative;
     */

.article-item::before {
    content: "";
    position: absolute;
    background-color: #3596ED;
    border-radius: 50%;
    transform: translateY(-50%);
    left: -15px;
    top: 50%;
    width: 8px;
    height: 8px;
    /* background: url(../imeges/img/Ellipse\ 3.svg); */
}

.article-list {
    margin-top: 0;
}

.article-video {
    margin-bottom: 40px;
}


/* -----------------footer---------------------------- */

.footer {
    background: linear-gradient(90.00deg, rgba(73, 169, 255, 0.2), rgba(252, 124, 217, 0.2) 100%);
}

.container {}

.footer-logo {
    display: flex;
    justify-content: center;
    margin: 63px 40px;
}

.footer-img {
    padding: 60px 0px 40px 0px;
    /* padding-bottom: 40px; */
}

.footer-nav {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer-lest {
    display: flex;
    justify-content: space-between;
    max-width: 730px;
    margin-bottom: 40px;
}

.footer-item {
    margin-right: 40px;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-text {
    text-align: center;
    padding-bottom: 40px;
}